body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('backgroundimage.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
      
  }
  
  .container {
    max-width: 200px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: black;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }
  
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weatherResults {
    margin-top: 20px;
  }
  
  #weatherResults h2 {
    margin-bottom: 10px;
  }
  
  #weatherResults p {
    margin: 5px 0;
  }
  